::ng-deep .mat-mdc-dialog-container {
  --mdc-dialog-container-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

::ng-deep .cdk-overlay-pane {
  max-width: 90vw !important;
  width: 900px !important;
}

::ng-deep .mat-mdc-dialog-surface {
  max-height: 80vh !important;
}

mat-dialog-content {
  max-height: 70vh;
  padding: 16px;
}

.analysis-content {
  p {
    white-space: pre-line;
    line-height: 1.6;
    margin: 0;
    font-size: 16px;
    color: #000000;
  }
}

mat-dialog-actions {
  padding: 8px 16px 16px;
}
