<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div>
      <label>Email:</label>
      <input type="email" formControlName="email">
    </div>
    <div>
      <label>Password:</label>
      <input type="password" formControlName="password">
    </div>
    <div>
      <button type="submit">Login</button>
      <button type="button" (click)="onSignUp()">Sign Up</button>
    </div>
  </form>
  
  <div>
    <button type="button" (click)="onGoogleSignIn()">Sign in with Google</button>
  </div>
  
  <div *ngIf="errorMessage">
    <p>Error: {{ errorMessage }}</p>
  </div>
  